.nv {
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252a;
  }
  
  .link {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    margin: 0 30px;
  
    &:hover{
      color: #0088a9;
    }
  }